.p-responsiveDebug{
  position: fixed;
  z-index: 9999999999999;
  bottom: 0;
  right: 0;
  padding: rem(10);
  opacity: 0.7;
  border-radius: rem(5) 0 0 0;
  background: #0b4978;
  color: white;
  @include remfont(14,20);
  transition: all 0.2s ease;
  font-weight: bold;

  &:hover{
    opacity: 1;
  }

  &::before{
    content: 'No breakpoint';
  }


  @media screen and (max-width: $bp-desktop){ background: #0b6f78; &::before{ content: 'bp-desktop'; } }
  @media screen and (max-width: $bp-laptop--large){ background: #0b7845; &::before{ content: 'bp-laptop--large'; } }
  @media screen and (max-width: $bp-laptop){ background: #1b780b; &::before{ content: 'bp-laptop'; } }
  @media screen and (max-width: $bp-laptop--small){ background: #4b780b; &::before{ content: 'bp-laptop--small'; } }
  @media screen and (max-width: $bp-tablet){ background: #78660b; &::before{ content: 'bp-tablet'; } }
  @media screen and (max-width: $bp-tablet--small){ background: #78430b; &::before{ content: 'bp-tablet--small'; } }
  @media screen and (max-width: $bp-mobile){ background: #78180b; &::before{ content: 'bp-mobile'; } }
  @media screen and (max-width: $bp-mobile--small){ background: #780b59; &::before{ content: 'bp-mobile--small'; } }


}