@at-root :root{
  --accordions-columns: 1;
}

.accordions{
  padding: var(--m-74) 0 var(--m-96);
  background: $color-beige;

  &.not-first{
    padding-top: 32px;
  }


  &__header{
    padding-top: 64px;
    border-top: 4px solid;
  }

  &__textHeading{
    font-size: 24px;
    @include f_display;
    line-height: 1.2;
  }

  &__list{
    border-top: 1px solid;
    margin-top: var(--m-128);
  }

  &__item{
    border-bottom: 1px solid;
    padding: 25px 0;

    &.open{
      .accordions__plus span:nth-child(2){
        transform: rotate(180deg);
      }
    }
  }

  &__handle{
    cursor: pointer;
    display: flex;
    gap: 24px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &:hover{
      color: var(--color-accent);
    }
  }

  &__title{
    @include f_soehne;
    font-size: 80px;
  }

  &__plus{
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 100%;
    border: 1px solid;

    span{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 3px;
      margin-left: -9px;
      margin-top: -1.5px;
      display: block;;
      background: currentColor;
      transition: all 0.2s ease;

      &:nth-child(2){
        transform: rotate(90deg);
      }
    }
  }

  &__content{
    padding-top: 12px;
    display: none;

    .wpContent{
      max-width: 820px;
    }
  }

  &__grid{
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(var(--accordions-columns), 1fr);
    gap: 40px;
  }

  &__gridItem{
    border-top: 1px solid;
    padding-top: 24px;
  }

  &__gridTitle{
    @include f_soehne;
    font-size: 64px;
    line-height: 0.95;
  }
  &__gridContent{
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    font-weight: 300;
  }


  @media screen and (min-width: $bp-tablet){
    &__plus{
      width: 56px;
      height: 56px;
    }
  }

  @media screen and (min-width: $bp-laptop--small){
    --accordions-columns: 3;
  }

}