.bottomline{
  background: $color-coal;
  color: white;
  padding: 30px 0;
  font-size: 16px;

  &__layout{
    display: flex;
    flex-direction: column;
    column-gap: 200px;
    row-gap: 12px;
  }

  &__text{
    a{
      border-bottom: 1px solid rgba(255,255,255,0.3);
      &:hover{
        border-color: rgba(255,255,255,0.5);
      }
    }
  }

  @media screen and (min-width: $bp-tablet){
    padding: 54px 0;

    &__layout{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}