@at-root :root{

  --btn-background: #{$color-coal};
  --btn-text: #{$color-beige};

}
.btn{

  display: inline-flex;

  font-weight: 700;
  border-radius: 32px;
  font-size: 16px;
  line-height: 1;
  justify-content: center;
  border: 1px solid var(--btn-border-color);
  gap: 0;

  &__bubble{
    display: inline-block;

    color: var(--btn-text);
    padding: 20px 48px;
    background: var(--btn-background);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 50px;

  }

  &__arrow{
    transition: all 0.2s ease;
    display: flex;
    height: 56px;
    width: 56px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--btn-background);
    font-size: 32px;
    border-radius: 100%;
    position: relative;
    left: 0;

    path{
      fill: var(--btn-background);
    }
  }

  &:hover{
    .btn__arrow{
      left: 3px;
    }
  }


  @media (hover: hover) {
    &:hover{
      background: var(--btn-hover-background);
      color: var(--btn-hover-color);
      border-color: var(--btn-hover-border-color);
    }
  }

  &:focus,
  &:active{
    outline: none;
    background: var(--btn-hover-background);
    color: var(--btn-hover-color);
    border-color: var(--btn-hover-border-color);
    box-shadow: 0 0 0px 2px var(--btn-outline);
  }

  &--small{
    --btn-padding: var(--btn-sm-padding);
    --btn-font-size: var(--btn-sm-font-size);
  }

  &--secondary{
    --btn-background: var(--btn-secondary-background);
    --btn-color: var(--btn-secondary-color);
    --btn-border-color: var(--btn-secondary-border-color);
    --btn-hover-background: var(--btn-secondary-hover-background);
    --btn-hover-color: var(--btn-secondary-hover-color);
    --btn-hover-border-color: var(--btn-secondary-hover-border-color);
    --btn-outline: var(--btn-secondary-outline);
  }

  &--round{
    padding:{
      left: 0;
      right: 0;
    }
    width: 56px;
  }


  &__group{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: var(--btn-group-justify-content);

    @media screen and (max-width: $bp-mobile){
      flex-direction: column;
      gap: 8px;
    }
  }

}