.homeHero{
  @include f_soehne;
  padding-top: 27.65%;
  font-size: clamp(60px, 20vw, 260px);
  font-weight: bold;
  line-height: 0.8;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  padding-bottom: 16px;

  &__highlight{
    background: var(--bg-image);
    background-clip: text;
    color: transparent;
    background-size: 300% 300%;
    background-position: 50% calc(100% - var(--scrollvar) * 100% );
  }
}