@at-root :root{
  --image-grid-aspect-ratio: 1.3333;
}

.imageGrid{
  display: grid;
  gap: 24px;

  &__item{
    aspect-ratio: var(--image-grid-aspect-ratio);

    &--auto{
      aspect-ratio: auto;

      img{
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &.full-width{
      grid-column: 1 / -1;
    }
  }

  @media screen and (min-width: $bp-tablet){
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }


}