.imageGrid{
  display: grid;
  gap: 24px;

  &__item{
    aspect-ratio: 1.333;

    &.full-width{
      grid-column: 1 / -1;
    }
  }

  @media screen and (min-width: $bp-tablet){
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }


}