html.mob-menu-open{
  overflow: hidden;
}
.mobMenu{
  display: none;
  padding: 48px var(--container-padding-sides);
  background: white;
  position: fixed;
  top: var(--siteHeader-height);
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;

  &__layout{
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__nav{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
    font-weight: bold;

    li.current-menu-item{
      a{
        border-bottom: 2px solid;
      }
    }
  }
}

@keyframes mobMenu{

}