.siteFooter{
  padding: 80px 0 40px;

  &__top{
    padding-bottom: 40px;
    border-bottom: 4px solid;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__cta{
    @include f_soehne;
    color: $color-red;
    display: inline-flex;
    gap: 16px;
    align-items: center;
    font-size: 64px;
    transform: scale(0.8);
    transform-origin: left center;
  }

  @media screen and (min-width: $bp-tablet){
    padding: 160px 0 85px;

    &__top{
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__cta{
      transform: scale(1);
    }
  }
}