.workPage{
  padding: 80px 0;
  background: $color-coal;

  &__title{
    margin-bottom: 80px;
  }

  @media screen and (min-width: $bp-tablet){
    padding: 160px 0;

    &__title{
      margin-bottom: 160px;
    }
  }
}