.workHero{
  &__thumbnail{
    position: relative;
    margin-bottom: 80px;

    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }
  &__header{
    padding-bottom: 40px;
    border-bottom: 4px solid;
  }
  &__title{
    @include f_soehne;
    font-size: clamp(48px, 7.42vw, 104px );
    line-height: 1;
  }
}