@mixin fontUrls( $weight, $style, $file_name ) {
  @font-face {
    font-family: "Helvetica Now";
    font-style: $style;
    font-weight: $weight;
    src: url('../font/helvetica-now/HelveticaNowText-#{$file_name}.otf');
  }
}

@include fontUrls(400, normal, 'Regular');
@include fontUrls(400, italic, 'It');
@include fontUrls(600, normal, 'Medium');
@include fontUrls(700, normal, 'Bold');
@include fontUrls(700, italic, 'BdIt');


@font-face {
  font-family: "Soehne Schmal";
  font-style: normal;
  font-weight: bold;
  src: url('../font/soehne-schmal/soehne-schmal-halbfett.woff2');
}

@font-face {
  font-family: "Helvetica Now Display";
  font-style: normal;
  font-weight: bold;
  src: url('../font/helvetica-now/HelveticaNowDisplay-Bd.otf');
}

@mixin f_soehne{
  font-family: 'Soehne Schmal';
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin f_display{
  font-family: 'Helvetica Now Display', sans-serif;
  font-weight: bold;
  letter-spacing: -0.02em;
}
