@mixin fontUrls( $weight, $style, $file_name ) {
  @font-face {
    font-family: "TT Commons Pro";
    font-style: $style;
    font-weight: $weight;
    src: url('../font/ttcommons/TTCommonsPro-#{$file_name}.ttf');
  }
}

@include fontUrls(400, normal, 'Normal');
@include fontUrls(400, italic, 'NormalIt');
@include fontUrls(500, normal, 'Md');
@include fontUrls(600, normal, 'Db');
@include fontUrls(700, normal, 'Bd');
@include fontUrls(700, italic, 'BdIt');

