@at-root :root{
  --container-padding-sides: 48px;

  --m-80: 80px;
  --m-96: 96px;
  --m-74: 74px;
  --m-128: 128px;

  @media screen and (max-width: $bp-laptop--small){
    --container-padding-sides: 20px;

    --m-96: 72px;
    --m-80: 64px;
    --m-74: 60px;
    --m-128: 96px;
  }

  @media screen and (max-width: $bp-tablet--small){
    --container-padding-sides: 20px;

    --m-96: 64px;
    --m-80: 60px;
    --m-74: 52px;
  }
}

.container{
  max-width: $container-width;
  padding: 0 var(--container-padding-sides);
  margin: 0 auto;
  box-sizing: content-box;

  &--medium{
    max-width: 1112px;
  }

  &--small{
    max-width: 880px;
  }

  &--content{
    max-width: 764px;
  }

  &--tiny{
    max-width: 660px;
  }

  &--full{
    max-width: none;
  }
}

.fw-container{
  padding: 0 20px;
  max-width: 1600px;
  margin: 0 auto;

  @media screen and (max-width: $bp-tablet--small){
    padding: 0 12px;
  }
}

.page-container{
  position: relative;
}

.mt-80{ margin-top: var(--m-80); }
.mb-80{ margin-bottom: var(--m-80); }

.mt-96{ margin-top: var(--m-96); }
.mb-96{ margin-bottom: var(--m-96); }

.mt-128{ margin-top: var(--m-128); }
.mb-128{ margin-bottom: var(--m-128); }