/* -------------------------------------------------- */
// OBJECT FIT
.u-of{
  overflow: hidden;
  position: relative;

  > img,
  > video,
  > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover';
    object-position: center center;
  }
}

.u-of-contain{
  position: relative;

  > img,
  > video,
  > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    font-family: 'object-fit: contain';
    object-position: center center;
  }
}


@media screen and (max-width: $bp-tablet--small){
  .only-desktop{
    display: none !important;
  }
}
@media screen and (min-width: $bp-tablet--small + 1px ){
  .only-mobile{
    display: none !important;
  }
}

