/* -------------------------------------------------- */
// OBJECT FIT
.u-of{
  overflow: hidden;
  position: relative;

  > img,
  > video,
  > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover';
    object-position: center center;
  }
}

.u-of-contain{
  position: relative;

  > img,
  > video,
  > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    font-family: 'object-fit: contain';
    object-position: center center;
  }
}
/* -------------------------------------------------- */


.cursor-pointer{
  cursor: pointer;
}

/*
Position
 */

.pos-rel{
  position: relative;
}

.pos-abs{
  position: absolute;
}

.pos-sticky{
  position: sticky;
}

/*
Block model
 */

.display-block{
  display: block;
}

.display-none{
  display: none;
}

.inline-block{
  display: inline-block;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

// Todo: ampliar más clases para flexs

// Posición

@for $i from 0 through 20{
  $number : $i * 5;
  .top-#{$number}{
    top: rem($number);
  }
  .bottom-#{$number}{
    bottom: rem($number);
  }
  .right-#{$number}{
    right: rem($number);
  }
  .left-#{$number}{
    left: rem($number);
  }
}

// Z index

@for $i from 1 through 5{
  .z-#{$i}{
    z-index: #{$i};
  }
}

.img-responsive{
  max-width: 100%;
  height: auto;
  display: block;
}

.overflow-hidden{
  overflow: hidden;
}

/*
Opacidad
 */

@for $i from 0 through 10{
  $number : $i * 10;
  $value : math.div($i, 10);
  .opacity-#{$number}{
    opacity: $value;
  }
}

/*
Padding
 */

@for $i from 0 through 12{
  $number : $i * 5;
  .pad-#{$number}{
    padding: rem($number);
  }
}

@media screen and (max-width: $bp-tablet){
  @for $i from 0 through 12 {
    $number: $i * 5;
    .pad-sm-#{$number} {
      padding: rem($number);
    }
  }
}

@media screen and (max-width: $bp-mobile){
  @for $i from 0 through 12 {
    $number: $i * 5;
    .pad-xs-#{$number} {
      padding: rem($number);
    }
  }
}

@for $i from 0 through 20 {
  $size : $i * 5;
  .mt-#{$size}{ margin-top: rem($size) }
  .mb-#{$size}{ margin-bottom: rem($size) }
  .ml-#{$size}{ margin-left: rem($size) }
  .mr-#{$size}{ margin-right: rem($size) }
  .pt-#{$size}{ padding-top: rem($size) }
  .pb-#{$size}{ padding-bottom: rem($size) }
  .pr-#{$size}{ padding-right: rem($size) }
  .pl-#{$size}{ padding-left: rem($size) }
}

@media screen and (max-width: $bp-tablet){
  @for $i from 1 through 20 {
    $size : $i * 5;
    .mt-sm-#{$size}{ margin-top: rem($size) }
    .mb-sm-#{$size}{ margin-bottom: rem($size) }
    .ml-sm-#{$size}{ margin-left: rem($size) }
    .mr-sm-#{$size}{ margin-right: rem($size) }
    .pt-sm-#{$size}{ padding-top: rem($size) }
    .pb-sm-#{$size}{ padding-bottom: rem($size) }
    .pr-sm-#{$size}{ padding-right: rem($size) }
    .pl-sm-#{$size}{ padding-left: rem($size) }
  }
}

@media screen and (max-width: $bp-mobile){
  @for $i from 1 through 20 {
    $size : $i * 5;
    .mt-xs-#{$size}{ margin-top: rem($size) }
    .mb-xs-#{$size}{ margin-bottom: rem($size) }
    .ml-xs-#{$size}{ margin-left: rem($size) }
    .mr-xs-#{$size}{ margin-right: rem($size) }
    .pt-xs-#{$size}{ padding-top: rem($size) }
    .pb-xs-#{$size}{ padding-bottom: rem($size) }
    .pr-xs-#{$size}{ padding-right: rem($size) }
    .pl-xs-#{$size}{ padding-left: rem($size) }
  }
}


/*
Font
 */

.fw-b{
  font-weight: bold;
}

.fs-i{
  font-style: italic;
}

.color-accent{
  color: var(--color-accent);
}

.mw-416{
  max-width: 416px;
}

.img-size{
  > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center center;
  }
}

@media screen and (max-width: $bp-tablet--small){
  .only-desktop{
    display: none !important;
  }
}
@media screen and (min-width: $bp-tablet--small + 1px ){
  .only-mobile{
    display: none !important;
  }
}
